*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.125rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    color: hsl(0, 0%, 98%);
    background: black;
    border: 1px solid hsl(0, 0%, 98%);
    border-radius: 10px;
    padding: .6em 1em;
}

.btn:hover,
.btn:active {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.hamburger {
    height: 30px;
    width: 36px;
    cursor: pointer;
    margin-left: auto;
    z-index: 10;
}

.hamburger-line {
    height: 2px;
    background: black;
    display: block;
    margin: 5px auto;
}

.nav {
    /* While making the hamburger */
    display: none;
    font-size: 1.125rem;
    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    background: lightblue;
    padding: 4em 1em;
}

.nav__list {
    list-style-type: none;
    padding-inline-start: 0;
}

.nav__item {

}

.nav__link {
    text-decoration: none;
    color: hsl(0, 0%, 41%)
}

.arrow-down {
    content: url(images/icon-arrow-down.svg);
}

.hero__img--desktop {
    display: none;
}

.hero__title {
    font-weight: 700;
}

.hero__content {
    text-align: center;
    width: 95%;
    margin: 3em auto 0;
}

.hero__description {
    color: hsl(0, 0%, 41%);
    margin-bottom: 2em;
}

.hero__client-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

.client-logo {
    width: 20%;
}