*, *::before, *::after {
    box-sizing: border-box;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: 'Epilogue', sans-serif;
    font-weight: 500;
    padding: 0;
    margin: 0;
}

img {
    max-width: 100%;
}

p {
    font-size: 1.125rem;
}

.container {
    max-width: 1100px;
    margin: 0 auto;
}

.btn {
    font-size: 1.125rem;
    font-weight: 700;
    color: hsl(0, 0%, 98%);
    background: black;
    border: 1px solid hsl(0, 0%, 98%);
    border-radius: 10px;
    padding: .6em 1em;
}

.btn:hover,
.btn:active {
    background: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
    border-color: hsl(0, 0%, 8%);
}

.header {
    display: flex;
    align-items: center;
    padding: 1.5em;
}

.hamburger {
    height: 30px;
    width: 36px;
    cursor: pointer;
    margin-left: auto;
    z-index: 10;
}

.line {
    height: 2px;
    background: black;
    display: block;
    margin: 5px auto;
    transition: all .2s ease;
}

.hamburger.active .line:nth-child(2) {
    display: none;
}

.hamburger.active .line:first-child {
    transform: translateY(4px) rotate(45deg);
}

.hamburger.active .line:last-child {
    transform: translateY(-4px) rotate(-45deg);
}

.nav {
    background: hsl(0, 0%, 98%);
    font-size: 1.125rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    padding: 4em 0;
    width: 0;
    overflow-x: hidden;
    transition: all .2s ease;
}

body.nav-open .nav {
    width: 240px;
    padding: 4em 1.5em;
    box-shadow: -100vw 0 0 100vw rgba(0,0,0,.5);
}

.nav__list {
    list-style-type: none;
    padding-inline-start: 0;
}

.nav__list--secondary {
    margin-top: 2em;
}

.nav__item {
    margin-bottom: 1em;
}

.nav__link {
    display: block;
    text-decoration: none;
    color: hsl(0, 0%, 41%)
}

.nav__link:hover {
    color: black;
}

.nav__list--secondary .nav__link {
    text-align: center;
    margin: 0 auto;
}

.nav__link--button {
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 10px;
    display: block;
    padding: .4em 0;
}

.nav__link--button:hover {
    border-color: black;
}

.nav__sub-menu {
    display: none;
    list-style-type: none;
    padding-inline-start: 1em;
    margin: 1em 0;
    transition: display 5s ease-in;
}

.nav__item.active .nav__sub-menu {
    display: block;
}

.nav__sub-menu img {
    margin-right: .6em;
}

.nav__sub-menu li {
    color:hsl(0, 0%, 41%);
    margin-bottom: .8em;
}

.arrow-icon {
    content: url(images/icon-arrow-down.svg);
}

.nav__item.active .arrow-icon {
    content: url(images/icon-arrow-up.svg);
}

.hero__img-container {

}

.hero__img {
    display: block;
    margin: 0 auto;
}

.hero__img--desktop {
    display: none;
}

.hero__title {
    font-weight: 700;
}

.hero__content {
    text-align: center;
    width: 95%;
    margin: 3em auto 0;
}

.hero__description {
    color: hsl(0, 0%, 41%);
    margin-bottom: 2em;
}

.hero__client-logos {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 3em;
}

.client-logo {
    width: 20%;
}

@media screen and (min-width: 900px) {
    .container {
        width: 80%;
    }

    .header {
        padding: 1.5em 2.5em;
        gap: 40px;
        position: relative;
    }

    .hamburger {
        display: none;
    }

    .nav {
        position: static;
        display: flex;
        width: auto;
        height:max-content;
        padding: 0;
        
        /* because of "display: flex" on the header */
        flex: 1;
    }

    .nav__list {
        display: flex;
        align-items: center;
        gap: 40px;
    }

    .nav__list--secondary {
        margin: 0 0 0 auto;
    }

    .nav__item {
        margin: 0;
        padding: 0;
    }

    .nav__link {
        margin: 0;
        padding: 0;
    }
    
    .nav__link--button {
        padding: .5em .8em;
    }

    .nav__sub-menu {
        position: absolute;
        z-index: 10;
    }

    .nav__item:first-child .nav__sub-menu {
        margin-right: 40px;
    }

    .nav__item.active .nav__sub-menu {
        background: #fff;
        padding: 1em;
        border-radius: 10px;
        box-shadow: 0 5px 35px -5px rgb(194, 194, 194);
    }

    #features-sub-menu {
        left: 100px;
    }

    .hero {
        display: flex;
        flex-direction: row-reverse;
        gap: 80px;
    }

    .hero__content {
        /* border: 4px solid red; */
        text-align: left;
        /* display: flex;
        flex-direction: column; */
    }

    .hero__title {
        font-size: 4.5rem;
    }

    .hero__img-container {
        width: 60%;
    }

    .hero__img--desktop {
        display: block;
    }

    .hero__img--mobile {
        display: none;
    }
}